.btn {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  padding: 0 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  }
