:root {
  --primary-color: #84a9ac;
  --secondary-color: #d96459;
  --border-radius: 30px;
  --box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  
  {
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  }
  
  body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1em;
  color: #d96459;
  }
  
  a {
  color: #d96459;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  }
  
  a:hover {
  color: #84a9ac;
  text-decoration: none;
  }
  
  .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  }
  
  .section {
  padding: 50px 0;
  }
  
  .btn {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: var(--border-radius);
  border: none;
  color: #fff;
  background-color: #d96459;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
  background-color: #84a9ac;
  transform: translateY(-3px);
  box-shadow: var(--box-shadow);
  }
  
  .btn:active {
  transform: translateY(0);
  box-shadow: none;
  }
  
  .form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: var(--border-radius);
  border: none;
  background-color: #f5f5f5;
  color: #333;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
  }
  
  .form-control:focus {
  outline: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  }
  
  .form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
  }
  
  /* Responsive */
  @media screen and (max-width: 767px) {
  body {
  font-size: 16px;
  }
  h1 {
  font-size: 1.6rem;
  }
  h2 {
  font-size: 1.4rem;
  }
  h3 {
  font-size: 1.2rem;
  }
  .btn {
  font-size: 1rem;
  padding: 10px 20px;
  }
  .form-control {
  font-size: 1rem;
  }
  }