/* Sélecteurs globaux */
body, input, select, textarea {
  font-family: "system-ui", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #87CEFA;
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin: 2% auto;
  letter-spacing: -0.01em;
  text-align: center;
  color: #333;
  font-size: 3em;
  padding: 2%;
}

/* Sous-titres */
.st {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: #6495ED;
  padding: 2%;
  width: 50%;
  margin: auto;
}

/* Carrousel */
.carroussel {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.carroussel:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding: 2%;
}

.item-content {
  margin: auto;
}

#carouselExampleControls{
  height: 75%;
  width: 95%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 2%;
}

/* Cartes */
.card.mb-3{
  margin: 0 auto 2% 20%;
}

/* Boutons */
.btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.5;
  background-color: #4CAF50;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #3E8E41;
}

.btn-delete {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.5;
  background-color: #FF5722;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.btn-delete:hover {
  background-color: #D84315;
}
